<button class="add" (click)="openModal()">
  Add New Instrument
</button>

<div>
  @for (instrument of instruments(); track instrument.id) {
      <div>
      <hr>
        <button class="edit" (click)="editInstrument(instrument)">Edit Instrument</button>
        <p class="type">Instrument Type: {{ instrument.type }}</p>
        <p class="family">Instrument Family: {{ instrument.family }}</p>
        <p class="brand">Brand: {{ instrument.brand }}</p>
        <p class="serialNumber">Serial Number: {{ instrument.serialNumber }}</p>
        <p class="condition">Condition: {{ instrument.condition }}</p>
        <p class="notes">Notes: {{ instrument.notes }}</p>
        <button class="delete" (click)="deleteInstrument(instrument.id)">Delete Instrument</button>
      </div>
    }
</div>
    <!-- <app-instrument-item></app-instrument-item> -->



@if (showForm()) {
<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal">
<button class="close-btn" (click)="closeModal()">X</button>
<h2>
  @if (instrumentService.instrumentToEdit()) {
    <p class="modal-title">Edit Instrument</p>
  } @else {
  <p class="modal-title">Add New Instrument</p>}
</h2>
<app-instrument-form />


</div>


}

